:root {
  --primary: #{$primary};
  --background: #{$background};
  --text-primary: #{$text-primary};
  --text-hover: #{$background};
  --grey-100: #{$grey-100};
  --grey-200: #{$grey-200};
  --grey-300: #{$grey-300};
  --grey-400: #{$grey-400};
  --grey-500: #{$grey-500};
  --grey-600: #{$grey-600};
}

// ===== LIGHT THEME =====
[data-theme="light"] {
  --primary: #{$primary-light};
  --background: #{$background-light};
  --text-primary: #{$text-primary-light};
  --text-hover: #{$background-light};
  --grey-100: #{$grey-100-light};
  --grey-200: #{$grey-200-light};
  --grey-300: #{$grey-300-light};
  --grey-400: #{$grey-400-light};
  --grey-500: #{$grey-500-light};
  --grey-600: #{$grey-600-light};
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-secondary;
  background-color: var(--background);
  color: var(--text-primary);
  line-height: 1.5;
  transition: background-color 0.3s ease, color 0.3s ease;
}

// Reset e estilos base
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-primary;
  font-weight: 600;
  line-height: auto;
}

// Classes utilitárias para as font sizes
.text-42 {
  font-size: $text-42;
}
.text-32 {
  font-size: $text-32;
}
.text-24 {
  font-size: $text-24;
}
.text-22 {
  font-size: $text-22;
}
.text-20 {
  font-size: $text-20;
}
.text-18 {
  font-size: $text-18;
}
.text-16 {
  font-size: $text-16;
}
