* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-secondary;
  background-color: $background;
  color: $text-primary;
  line-height: 1.5;
}

// Reset e estilos base
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-primary;
  font-weight: 600;
  line-height: auto;
}

// Classes utilitárias para as font sizes
.text-42 {
  font-size: $text-42;
}
.text-32 {
  font-size: $text-32;
}
.text-24 {
  font-size: $text-24;
}
.text-22 {
  font-size: $text-22;
}
.text-20 {
  font-size: $text-20;
}
.text-18 {
  font-size: $text-18;
}
.text-16 {
  font-size: $text-16;
}
