@import "variables";
table {
  border-collapse: collapse;
  width: 100%;
}
th {
  background: var(--primary);
  color: var(--text);
  padding: 12px;
  text-align: left;
}
td {
  padding: 12px;
  border-bottom: 1px solid var(--grey-2);
}
input {
  border: 1px solid var(--grey-5);
  padding: 12px;
  background: var(--bg);
  color: var(--text);
  border-radius: 4px;
  width: 100%;
  max-width: 400px;
}
