.input {
  width: 100%;
  padding: 0.75rem 1rem;
  border: 1px solid var(--grey-500);
  border-radius: 8px;
  background-color: var(--grey-600);
  color: var(--text-primary);
  font-family: $font-secondary;
  font-size: $text-16;
  transition: all 0.2s ease;

  &::placeholder {
    color: var(--grey-400);
  }

  &:focus {
    outline: none;
    border-color: var(--primary);
    box-shadow: 0 0 0 2px rgba(129, 26, 192, 0.2);
  }

  &--search {
    padding-left: 2.5rem;

    background-repeat: no-repeat;
    background-position: 0.75rem center;
    background-size: 1.25rem;
  }
}
